* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: blueviolet;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
    color: gold;
}

#inputSearch {
    width: 250px;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 7px;
    text-align: center;
    background: black;
    color: gold;
}

#inputSearch::placeholder {
    color: gold;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 15px;
}

label {
    color: gold;
    font-weight: bold;
}

table {
    width: 65%;
}

table, th, td {
    border: 1px solid gold;
    border-spacing: 0;
    color: white;
}

table {
    text-align: center;
}

th {
    text-transform: uppercase;
    padding: 10px;
    color: gold;
}

tr img {
    height: 80px;
}